-# メニュー部ヘッダー
.menu-header
  .menu-header__box
    .menu-header__box__name
      ojisan
    .menu-header__box__menu
      .menu-header__box__menu__new-group
        = fa_icon 'edit'
      .menu-header__box__menu__settings
        = fa_icon 'cog'
