.message
  .message__upper
    %p.message__upper__user-name
      = message.user.name
    %p.message__upper__date
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  .message__lower
    - if message.content.present?
      %p.message__lower__text
        = message.content
    = image_tag message.image.url, class: 'message__lower__image' if message.image.present?  