.wrapper
  .chat-menu
    = render 'shared/side_bar'
    -# = render partial: "menu-header"
    -# .groups
    -#   = render partial: "group"


  .chat-main
    = render partial: "main-header"
    .messages
      = render partial: 'message', collection: @messages
    .form
      = render partial: "new-message"
