-# .wrapper
-#   = render 'shared/side_bar'
.wrapper
  = render 'shared/side_bar'


  -# .chat-main
  -#   = render partial: "main-header"
  -#   .messages
  -#     = render partial: "message"
  -#     = render partial: "message"
  -#   .form
  -#     = render partial: "new-message"
